.rbn-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .rbn-header--logo {
    padding-left: 2rem;
  }

  & .rbn-header--menu {
    padding-right: 1.5rem;
  }
}

.fc-menu-open {
  & .rbn-header {
    & .rbn-header--logo {
      padding-left: 1rem;

      & .fc-button {
        background: unset;
        padding: 0;
        border: unset;
        height: unset;
      }
    } 
  }
}