@import '../../styles/config.scss';

.fc-model {
  height: 78vh;
  position: relative;
  justify-content: center;
  align-items: center;

  & .fc-rtr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  & .fc-lcp {
    background-color: $grey-f6;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  & .fc-rtr-on {
    display: unset;
  }

  & .fc-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 31rem;
    padding: 3.1rem;

    @media (max-width: 700px) { 
      padding: unset;
    }

    & img {
      width: 100%;
    }
  }

  @media (max-width: 700px) { 
    height: 80vh;
  }
}