@import '../../styles/config.scss';

.fc-menu {
  border-radius: 1.5rem;
  height: inherit;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  & .fc-accordion {
    &::-webkit-scrollbar {
      display: none;
    }

    & .fc-accordion-list {
      height: max-content;
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: inherit;

      border-radius: 1.5rem;
      margin: 1.5rem;
      border-radius: 24px;
      border: 1px solid $white;
      background: rgba(255, 255, 255, 0.70);

      & li:not(:last-child) {
        & .fc-attribute-header--divider {
          display: block;
        }
      }
    }
  }

  /*@media (max-width: 700px) { 
    display: none;
  }*/
}