@import '../../styles/config.scss';

.fc-wrapper {
  //background-image: url('../../../public/img/light-backgroung-desktop.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100vw 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    'rbn-header rbn-header'
    '. fc-header'
    'fc-main fc-main';


  @media (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-template-areas: 
      'rbn-header'
      'fc-header'
      'fc-main';
  }

  & .rbn-header {
    grid-area: rbn-header;
    height: 7vh;

    @media (max-width: 700px) { 
      height: 5vh;
    }
  }

  & .fc-header {
    grid-area: fc-header;
    height: 5vh;
  }

  & .fc-main {
    grid-area: fc-main;
    height: 88vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'fc-model fc-menu'
      '. fc-footer';

    @media (max-width: 700px) {
      height: 90vh;
      grid-template-columns: 1fr;
      grid-template-areas: 
        'fc-model'
        'fc-footer';

      & .fc-model {
        height: 80vh;
      }

      & .fc-menu {
        display: none;
      }
    }

    & .fc-menu-footer {
      display: flex;
      flex-direction: column;
      height: inherit;

      @media (max-width: 700px) {
        height: auto;
      }
    }
  }

  &.fc-menu-open {
    @media (max-width: 700px) {

      & .fc-header {
        display: none;
      }

      grid-template-areas: 
        'rbn-header'
        'fc-main';

      & .fc-main {
        height: 95vh;
        grid-template-columns: 1fr;
        grid-template-areas: 
          'fc-model'
          'fc-footer'
          'fc-menu';

        & .fc-model {
          height: 30vh;
        }
  
        & .fc-menu {
          display: inline-block;
          height: 57vh;
          margin: 0;
          order: 1;
        }

        & .fc-footer {
          height: 8vh;
          display: flex;
          justify-content: center;

          & .fc-footer-actions {
            display: none;
          }
        }
      }
    }
  }
}


