@import '../../styles/config.scss';

.fc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.563rem;

  & .fc-header--name.fc-dark-mode {
    color: $white;
  }

  & .fc-skeleton-text {
    width: 16rem;
  }

  & .fc-header--name {
    color: $black-1f;
    font-family: Oswald;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 38.4px */
    text-transform: uppercase;
    padding-right: 0.625rem;

    @media (max-width: 700px) { 
      padding: 0 1rem;
      font-size: 1.3rem;
    }
  }

  @media (max-width: 700px) { 
    margin-left: 0px;

    & .fc-skeleton-text {
      width: 11rem;
    }
  }
}