@import './styles/config.scss';


/* init Skeleton */
.fc-skeleton {
  animation: skeleton-loader 1s linear infinite alternate;
}

.fc-skeleton-text {
  width: 7em;
  height: .5em;
  border-radius: .2rem;
  font-family: $font-lato;
}

.fc-skeleton-button {
  width: auto;
  height: auto;
}

@keyframes skeleton-loader {
  0% {
    background-color: $skeleton-0;
    font-family: $font-lato;
  }

  100% {
    background-color: $skeleton-100;
    font-family: $font-lato;
  }
}
/* end Skeleton */
